body{
    margin:0;
    padding: 0;
}
body {
    margin: o;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom , rgb(0, 0, 0),rgb(0, 0, 39),rgb(1, 1, 128),rgb(1, 1, 228));
    height:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    user-select: none;    
}
.nav-button{
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 35px;
    right:10px;  
    color: rgb(255, 255, 255);
    user-select: none;
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:black;
    overflow: auto;
    transition: 1s;
}
.nav-list{
    top:10px;
    padding: 20px;
    font-size: 30px;
    text-decoration: solid;
    color: rgb(232, 239, 239);
    display:block;
    border-bottom: 0.1px solid;
    border-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transform: rotate(20deg);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.nav-list.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.nav-list:nth-child(1) {
    transition-delay: 0.2s;
}
.nav-list:nth-child(2) {
    transition-delay: 0.4s;
}
.nav-list:nth-child(3) {
    transition-delay: 0.6s;
}
.nav-list:nth-child(4) {
    transition-delay: 0.8s;
}
.nav-list:nth-child(5) {
    transition-delay: 1s;
}
.nav-list:nth-child(6) {
    transition-delay: 1.2s;
}

.nav-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    border-top: gray;
    border: 10px;
}
.closebtn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    border-top: gray;
    border: 10px;
}
a:hover{
    color: rgb(129, 129, 133);
}
  
.nav .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
  }
.nav .closebtn:hover{
    color: rgb(183, 188, 193);
}
@media screen and (max-height: 450px) {
.nav {padding-top: 15px;}
.nav a {font-size: 18px;}
}

.title-name{
    font-size: 50px;
    font-family: "Almendra",sans-serif;
    text-align: center;
    user-select: none;
    transition: top 0.3s;
    background: linear-gradient(to right, white,rgb(243, 217, 217),rgba(190, 190, 190, 190), rgb(249, 174, 174),rgb(244, 112, 112),rgb(244, 49, 49),rgb(100, 0, 0),rgb(244, 49, 49),rgb(244, 112, 112), rgb(249, 174, 174),rgb(243, 217, 217),rgba(190, 190, 190, 190),white);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 5.5s linear infinite;
    margin-top: -50px;
}
.title-name h3{
    text-align: left;
    margin-left:100px ;
    margin-top: -75px;
    font-weight: 700;
}
@keyframes animate-gradient{
    to {
        background-position: 300%;
    }
}

.intro{
    display: flex;
    background: scroll;
    background-position-y: bottom 100px;
    background-color: rgb(16, 15, 14);
    padding:0;
}
.intro img{
    height: 300px;
    margin-right: 20px;
    border: solid 5px;
    border-top-left-radius: 50%;
}
.intro img:hover{
    transform: scale(1.1);
    border: 0px;
}
.intro h2{
    color: red;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.intro p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 40px;
    font-family: "merriweather",Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 20px;
}
.skills{
    color: aliceblue;
    font-size: 40px;
    font-family: "Londrina Shadow";
    display: flex;
    background: scroll;
}
.skill-t{
    color: rgb(247, 247, 255);
    font-size: 50px;
    text-align: center;
    font-family: "Londrina Shadow";
    border-bottom: solid 5px rgb(255, 255, 255);
    padding-bottom: 8px;
    display: inline-block;
    margin-left: 700px;
    width: auto;
    margin-bottom: -10px;
}
.Programming, .cad{
    width:50%;
    padding-left: 100px;
    padding-right: 100px;
}
.Programming li, .cad li, .Programming h4, .cad h4{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}
.Programming li, .cad li{
    font-size: 20px;
    font-weight: 600;
}
.skills img{
    height:50px;
    width: auto;
}
.skills li{
    background-color: rgb(46, 44, 44);
    border-radius: 50px;
    border: solid, 1px;
}
.email{
    font-size: 20px;
}
.cont{
    background: fixed;
    background-color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: "Rationale", sans-serif;

}
.cont h1{
    padding-top: 20px;
    font-size: 45px;
}
.cont p{
    text-align: left;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 30px;
    font-weight: 550;
}

