body {
    margin: o;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom , black,rgb(0, 0, 39),rgb(1, 1, 128),rgb(1, 1, 228));
    height:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}
.nav-button{
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 35px;
    right:10px;  
    color: rgb(255, 255, 255);
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:black;
    overflow: auto;
    transition: 1s;
}
.nav-list{
    top:10px;
    padding: 20px;
    font-size: 30px;
    text-decoration: solid;
    color: rgb(232, 239, 239);
    display:block;
    border-bottom: 0.1px solid;
    border-color: rgb(255, 255, 255);
}
.nav-list.show {
    opacity: 10;
}

.nav-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    border-top: gray;
    border: 10px;
}
.closebtn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    border-top: gray;
    border: 10px;
}
a:hover{
    color: rgb(129, 129, 133);
}
  
.nav .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
  }
.nav .closebtn:hover{
    color: rgb(183, 188, 193);
}
@media screen and (max-height: 450px) {
.nav {padding-top: 15px;}
.nav a {font-size: 18px;}
}

.name{
    font-size: 75px;
    font-family: "Almendra",sans-serif;
    text-align: center;
    user-select: none;
    transition: top 0.3s;
    background: linear-gradient(to right, white,rgb(190, 190, 190),rgb(126, 126, 126), rgb(99, 99, 99),rgb(169, 169, 169),rgb(205, 205, 205),rgb(253, 253, 253));
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 5.5s linear infinite;
}
@keyframes animate-gradient{
    to {
        background-position: 300%;
    }
}
.intro{
    display: flex;
}
.intro img{
    height: 300px;
    margin-right: 20px;
    border: solid 5px;
    border-top-left-radius: 50%;
}
.intro p{
    color: aliceblue;
    font-size: 20px;
    margin-left: 30px;
    background: linear-gradient(white,rgb(198, 197, 197),rgb(152, 152, 152), rgb(99, 99, 99));
}